<section>
<input type="text" (keyup)="filterItems($event.target)" [(ngModel)]="searchTerm" placeholder="Search...">

    <div class="row">
       

            <div class="col-md-2"  *ngFor="let item of filteredItems" [ngStyle]="{'background-color': item.color}" (click)="select(item.name)">


                <ul>
                <li >{{ item.name }}</li>
            </ul>
            </div>
        
        
    </div>
</section>


    <section *ngIf="userSelected.size>=1 && !userIsSelected">
        <h3> Les utilisateurs selectionnés</h3>
        <div class="row">
       
            <div class="col-md-2"  *ngFor="let key of  userSelected.keys()"  [ngStyle]="{'background-color': userSelected.get(key)}" (click)="select(key)">
                <ul *ngIf="userSelected.get(key)">
                <li >{{ key}}</li>
            </ul>
            </div>
        
        
    </div>
    <button  (click)="submit()" class="btn btn-primary">envoyer</button>
    </section>


<section  >
    <div class="row">
  
       
        <div class="card col-md-3"  *ngFor="let movie of moviePage ; ">
     
  
          <img class="card-img-top" src="https://image.tmdb.org/t/p/original{{movie.backdrop_path}}" alt="Card image of movie">
          <div class="card-body">
            <h5 class="card-title">{{movie.title}}</h5>
            <p> original title : {{movie.original_title}} </p>   
            <p> original language: {{movie.original_language}} </p> 
            <p> release date: {{movie.release_date}} </p> 
        <button type="button" class="btn btn-primary button" [routerLink]="['/movie/',movie.id]">détails</button>
        
          </div>
        </div>
  
   
  
  </div>
  
  <br/> 
  
  <ngb-pagination [collectionSize]="seeMovie.length" [pageSize]="pageSize" [(page)]="page" (pageChange)="onPageChange($event)" 
  [maxSize]="5" [rotate]="true"
   [ellipses]="true" [boundaryLinks]="true"></ngb-pagination>
  
  </section>
  