
<section  >
    <div class="row">
  
   
    <div class="card col-md-3"  >
     
  
      <img class="card-img-top" src="https://image.tmdb.org/t/p/original{{movie.backdrop_path}}" alt="Card image of movie">
      <div class="card-body">
        <h5 class="card-title">{{movie.title}}</h5>
        <p> original title : {{movie.original_title}} </p>   
        <p> original language: {{movie.original_language}} </p> 
        <p> release date: {{movie.release_date}} </p> 
        <p> adulte : {{movie.adult}} </p>   
        <p> homepage : {{movie.homepage}} </p> 
      
        <p> runtime: {{movie.runtime}} </p> 
        <p> popularity date: {{movie.popularity}} </p> 
        <p> revenue : {{movie.revenue}} </p> 
      

    
      </div>
      <a type="button" class="btn btn-primary button" href="{{movie.homepage}}" target="_blank">home page</a>
    </div>
  </div>
  </section>
  