
<section  >
    <div class="row">
  
   
    <div class="card col-md-3"  *ngFor="let movie of movies; let i=index;">
     
  
      <img class="card-img-top" src="{{movie.backdrop_path}}" alt="Card image of movie">
      <div class="card-body">
        <h5 class="card-title">{{movie.title}}</h5>
        <p> original title : {{movie.original_title}} </p>   
        <p> original language: {{movie.original_language}} </p> 
        <p> release date: {{movie.release_date}} </p> 
    <button type="button" class="btn btn-primary button" [routerLink]="['/movie/',movie.id]">détails</button>
    
      </div>
    </div>
  </div>
  </section>
  