<form class="register-form" [formGroup]="editForm">
    <div class="row">
      <div class="col-lg-8 mx-auto">
      
     
  
        <div class="input-material-group mb-3">
          <input class="input-material" type="text" formControlName="title" required data-validate-field="registerUsername">
          <label class="label-material" for="register-username">title                </label>
        </div>
        <div class="input-material-group mb-3">
            <input class="input-material" type="text" formControlName="original_language" required data-validate-field="registerUsername">
            <label class="label-material" for="register-username">Language                </label>
          </div>
          <div class="input-material-group mb-3">
            <input class="input-material" type="date" formControlName="release_date" required data-validate-field="registerUsername">
            <label class="label-material" for="register-username">date                </label>
          </div>
        <div class="input-material-group mb-3">
          <input class="input-material" type="text" formControlName="original_title" required data-validate-field="registerEmail">
          <label class="label-material">original title</label>
        </div>
        <div class="input-material-group mb-4">
          <input class="input-material" type="text" formControlName="backdrop_path" required data-validate-field="registerPassword">
          <label class="label-material">backdrop path</label>
        </div>

      </div>
      <div class="col-12 text-center">
        <button class="btn btn-primary mb-3" id="login" (click)="onSubmit()">Register</button>
      </div>
    </div>
  </form>